<div class="dialog-modal">
    <div class="modal-header">
        <h5 class="modal-title custom_align"> Delete</h5> 
    </div>
    <div class="modal-body"> 
        <div class="alert alert-danger"><center><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this batch?</center></div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-fill" ng-click="ok()" ng-show="okButton"><span class="glyphicon glyphicon-check"></span> {{okButton}}</button>
            <button class="btn btn-danger btn-fill" ng-click="cancel()" ng-show="cancelButton"><span class="glyphicon glyphicon-remove"></span> {{cancelButton}}</button> 
        </div> 
    </div>
</div>