<div class="wrapper">
    <sidebar></sidebar>
    <div class="main-panel">
        <navbar></navbar>
        <div class="content">
            <div ui-view autoscroll="false"></div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Revature Housing
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by 1709 .Net Batch
                </div>
            </div>
        </footer>
    </div>
</div>
