<center><h3>Batches</h3></center>
<br />

<div class="bs-component">
    <form class="form-inline">
        <div class="form-group" style="float:left; margin-bottom:15px;">
            Search: <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <div class="row">
        <div style="float:right; margin-right:20px;">
            <p data-placement="top" data-toggle="tooltip" title="Add New Batch"><button data-toggle="modal" data-target="#create" class="btn btn-success btn-fill" data-title="New Supply"><span class="glyphicon glyphicon-plus"></span> Add New Batch</button></p>
        </div>
    </div>
    <div growl></div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-click="sort('name')">
                    <center>
                        Batch Name
                        <span class="fa fa-sort" ng-init="sortKey=='name'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}" required></span>
                    </center>
                </th> 
                
                <th ng-click="sort('startDate')">
                    <center>
                        Start Date
                        <span class="fa fa-sort" ng-init="sortKey=='startDate'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}" required></span>
                    </center>
                </th> 
                
                <th ng-click="sort('endDate')">
                    <center>
                        End Date
                        <span class="fa fa-sort" ng-init="sortKey=='endDate'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}" required></span>
                    </center>
                </th>  

                <th>
                    <center>
                        Options
                    </center>
                </th>
            </tr>

        </thead>

        <tbody>
            <tr dir-paginate="b in batches|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
                <td><center>{{b.name}}</center></td> 
                <td><center>{{b.startDate | date:"MM-dd-yyyy"}}</center></td> 
                <td><center>{{b.endDate | date:"MM-dd-yyyy"}}</center></td> 
                <td>
                    <center>
                        <button class="btn btn-primary btn-fill" data-title="Edit" data-toggle="modal" ng-click="getBatchById(b)" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                        <button class="btn btn-danger btn-fill" ng-click="getBatchById(b)" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </center>
                </td>
                
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="15"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>

        <!-- NAME -->
        <!--<div class="form-group" ng-class="{ 'has-error' : userFormUpdate.name.$invalid && !userFormUpdate.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userFormUpdate.name.$invalid && !userFormUpdate.name.$pristine" class="help-block">You name is required.</p>
        </div>-->
      
        <!-- USERNAME -->
        <!--<div class="form-group" ng-class="{ 'has-error' : userFormUpdate.username.$invalid && !userFormUpdate.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userFormUpdate.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userFormUpdate.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>-->
        
        <!-- EMAIL -->
        <!--<div class="form-group" ng-class="{ 'has-error' : userFormUpdate.email.$invalid && !userFormUpdate.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userFormUpdate.email.$invalid && !userFormUpdate.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>-->
        
        <!--<button type="submit" class="btn btn-primary" ng-disabled="userFormUpdate.$invalid">Submit</button>-->
        

<!--Create New Batch Modal-->
<form name="userFormUpdateCreate" ng-submit="submitForm()" novalidate>
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add a new Batch</h4>
                    </div>
                        <div class="modal-body">

                            <div class="form-group" ng-class="{ 'has-error' : userFormUpdateCreate.batchName.$invalid && !userFormUpdateCreate.batchName.$pristine }">
                                <label class="text-info"> Batch Name:</label>
                                <input class="form-control" name="batchName" ng-model="batchName" type="text" placeholder="Batch Name" required />
                                <p ng-show="userFormUpdateCreate.batchName.$invalid && !userFormUpdateCreate.batchName.$pristine" class="help-block">Batch name is required.</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userFormUpdateCreate.startDate.$invalid && !userFormUpdateCreate.startDate.$pristine }">
                                <label class="text-info"> Start Date:</label>
                                <input name="startDate" class="form-control " type="date" placeholder="Start Date: yyyy/mm/dd" ng-model="startDate" required>
                                <p ng-show="userFormUpdateCreate.startDate.$invalid && !userFormUpdateCreate.startDate.$pristine" class="help-block">Start date is required.</p>
                            </div>
                            <div class="form-group">
                                <label class="text-info"> End Date:</label>
                                <input name="endDate" class="form-control " type="date" placeholder="End Date: yyyy/mm/dd" ng-model="endDate">
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <button type="submit" class="btn btn-primary btn-fill" data-dismiss="modal" ng-click="postBatch()" ng-disabled="userFormUpdateCreate.$invalid"> <span class="glyphicon glyphicon-check"></span> Create</button>
                            <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal"> <span class="glyphicon glyphicon-remove"></span>Cancel</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>

    <!--Edit Batches Modal-->
<form name="userFormUpdate" ng-submit="submitForm()" novalidate>
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" name="batchId" ng-model="batchId" type="hidden" placeholder="Batch Id" required />
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userFormUpdate.batchName.$invalid && !userFormUpdate.batchName.$pristine }">
                                <label class="text-info"> Batch Name:</label>
                                <input class="form-control" name="batchName" ng-model="batchName" type="text" placeholder="Batch Name" required />
                                <p ng-show="userFormUpdate.batchName.$invalid && !userFormUpdate.batchName.$pristine" class="help-block">Batch name is required.</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userFormUpdate.startDate.$invalid && !userFormUpdate.startDate.$pristine }">
                                <label class="text-info"> Start Date:</label>
                                <input class="form-control" name="startDate" ng-model="startDate" type="date" placeholder="Start Date" required />
                                <p ng-show="userFormUpdate.startDate.$invalid && !userFormUpdate.startDate.$pristine" class="help-block">Start date is required.</p>
                            </div>
                            <div class="form-group">
                                <label class="text-info"> End Date:</label>
                                <input class="form-control" name="endDate" ng-model="endDate" type="date" placeholder="End Date" />
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-fill" id="btnUpdate" data-dismiss="modal" ng-click="updateBatch()" ng-disabled="userFormUpdate.$invalid"> <span class="glyphicon glyphicon-check"></span> Update</button>
                        <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title custom_align" id="Heading">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger"><center><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this batch?</center></div>
                        <div>
                            <p>Batch Name:{{batchName}}</p>
                            <p>Start Date:{{startDate | date:"MM/dd/yyyy"}}</p>
                            <p>End Date:{{endDate | date:"MM/dd/yyyy"}}</p>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary btn-fill" ng-click="deleteBatch(batchId)" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Delete</button>
                            <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



