<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                <img ng-click="logout()" src="../../../assets/img/housing.png" width="130" height="130"/>
                Revature Housing
            </a>
        </div>
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="Managers.Dashboard.suppliesRequests">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="Managers.Supplies">
                    <i class="fa fa-bathtub"></i>
                    <p>Supplies</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="Managers.Users.Tenants">
                    <i class="ti-user"></i>
                    <p>Users</p>
                </a>
            </li>
        </ul>
    </div>
</div>