<h2>Dashboard</h2>
<div class="card">
    <div class="header">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active">
                        <a ui-sref=".suppliesRequests">Supplies</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref=".Maintenance">Maintenance</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref=".Housing">Housing</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref=".Batches">Batches</a>
                    </li>
                </ul>
                <br>
                <div ui-view autoscroll="false"></div>
            </div>
        </div>
    </div>
</div>



