<div class="container" ng-controller="AppController">
    <div class="row">
        <h2 class="text-center">Manage Users</h2>
    </div>

    <div class="row">

        <div class="col-md-12">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a ui-sref=".Tenants">Tenants</a>
                </li>
                <li>
                    <a ui-sref=".Managers">Managers</a>
                </li>
                <li>
                    <a ui-sref=".Recruiters">Recruiters</a>
                </li>
                <li>
                    <a ui-sref=".Providers">Providers</a>
                </li>
                <li>
                    <a ui-sref=".Batches">Batches</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0 pull-right">
                <!-- Trigger Add User Modal -->
                <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#add">{{demo}}</button>
            </form>
            <br>
            <div ui-view autoscroll="false"></div>

        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Name">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="Address">
                </div>
                <div class="form-group">


                    <input class="form-control " type="text" placeholder="Email">

                </div>
                <div class="form-group">


                    <input class="form-control " type="text" placeholder="Phone Number">

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Update Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Edit User Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Name">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="Address">
                </div>
                <div class="form-group">


                    <input class="form-control " type="text" placeholder="Email">

                </div>
                <div class="form-group">


                    <input class="form-control " type="text" placeholder="Phone Number">

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--Delete User Modal-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--<script src="/cdn-cgi/scripts/84a23a00/cloudflare-static/email-decode.min.js"></script>-->
