<center><h3>Pendings</h3></center>
<br />
<div class="bs-component">
    <form class="form-inline">
        <div class="form-group" style="float:left; margin-bottom:15px;">
            Search: <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-click="sort('fullName')">
                    <center>
                        Full Name
                        <span class="fa fa-sort" ng-init="sortKey=='fullName'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                    </center>
                </th>
                
                <th ng-click="sort('email')">
                    <center>
                        Email
                        <span class="fa fa-sort" ng-init="sortKey=='email'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                    </center>
                </th>
                <th ng-click="sort('phoneNumber')">
                    <center>
                        Phone Number
                        <span class="fa fa-sort" ng-init="sortKey=='phoneNumber'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                    </center>
                </th>
                <th>
                    <center>
                        Options
                    </center>
                </th>
            </tr>


        </thead>
        <tbody>
            <tr dir-paginate="t in tenants|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
                <td><center>{{t.contact.firstName}} {{t.contact.lastName}}</center></td>
                <td><center>{{t.contact.email}}</center></td>
                <td><center>{{t.contact.phoneNumber}}</center></td>
                <td>
                    <center>
                        <button class="btn btn-info btn-fill" data-title="details" data-toggle="modal" ng-click="getTenantById(t)" data-target="#details"><span class="glyphicon glyphicon-info-sign"></span> Details</button>
                        <button class="btn btn-warning btn-fill" data-title="details" data-toggle="modal" ng-click="getHousingUnits();getTenantById(t)" data-target="#select"><span class="glyphicon glyphicon-home"></span> Assign</button>
                        <!--<button class="btn btn-danger btn-fill btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>-->
                    </center>
                </td>

            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="15"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>


<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Pending Tenant Details</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <div class="form-group">
                            <h4><b>Full Name:</b> {{firstName}} {{lastName}}</h4>
                        </div>
                        <div class="form-group">
                            <b>Batch Name:</b> {{batchName}}
                        </div>
                        <div class="form-group">
                            <b>Gender:</b> {{gender}}
                        </div>
                        <div class="form-group">
                            <div ng-if="tenantCarRelationships == true">
                                <b>Has Car:</b> Yes
                            </div>
                            <div ng-if="tenantCarRelationships == false">
                                <b>Has Car:</b> No
                            </div>
                        </div>
                        <div class="form-group">
                            <b>Move in Date:</b> {{moveInDate | date:"MM-dd-yyyy"}}
                        </div>
                        <div class="form-group">
                            <div ng-if="hasKey == true">
                                <b>Has Housing Key:</b> Yes
                            </div>
                            <div ng-if="hasKey == false">
                                <b>Has Housing Key:</b> No
                            </div>
                        </div>
                    </center>
                </div>

                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<!--Select Batch Modal-->
<div class="modal fade" id="select" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Assign Housing Unit</h4>
                </div>
                <div class="modal-body">
                    <select size="1" class="form-control" ng-model="housingId">
                        <option ng-repeat="u in units" value="{{u.housingUnitId}}">{{u.address.streetName}} {{u.address.buildingNumber}} Available: {{u.occupied}}/{{u.capacity}}</option>
                    </select>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary btn-fill" ng-click="updateTenant()" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Assign</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
