<center><h3>Batch Management</h3></center>
<div class="col-md-8 col-md-offset-2">
    <br>
    <div class="panel panel-default">
        <div class="panel-body glyphicon-adjust">

            <div id="contact_fields">

            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" name="Name[]" value="" placeholder="Name">
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <input type="text" class="form-control" id="Last Name" name="Last Name[]" value="" placeholder="Last Name">
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <input type="text" class="form-control" id="Email" name="Phone Number[]" value="" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="Email" name="Email[]" value="" placeholder="Email">
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="button" onclick="contact_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
    </div>
</div>

<div class="col-md-8 col-md-offset-2">
    <form class="pull-right">
        <!-- Trigger Add User Modal -->
        <button type="button" class="btn btn-warning btn-fill" data-toggle="modal" data-target="#assign">Submit</button>
    </form>
</div>

<!--Submit Modal-->
<div class="modal fade" id="assign" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Assign Batch</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">


                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" data-dismiss="modal" data-toggle="modal" data-target="#create">Create New Batch</button>

                </div>
                <div class="form-group">


                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" data-dismiss="modal" data-toggle="modal" data-target="#select" ng-click="getBatches()">Select Existing Batch</button>

                </div>
            </div>

        </div>
    </div>
</div>
<!--Create New Batch Modal-->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <br /><br />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">New Batch Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Batch Name" ng-model="batchName">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="Start Date: yyyy/mm/dd" ng-model="startDate">
                </div>
                <div class="form-group">


                    <input class="form-control " type="text" placeholder="End Date: yyyy/mm/dd" ng-model="endDate">

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" ng-click="postBatch()"><span class="glyphicon glyphicon-ok-sign"></span>Create</button>
            </div>
        </div>
    </div>
</div>
<!--Select Batch Modal-->
<div class="modal fade" id="select" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <br /><br />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Select Batch</h4>
            </div>
            <div class="modal-body">
                <select size="1" class="alert-warning form-control">
                    <option value="this" selected="selected"></option>
                    <option ng-repeat="b in batches" value="{{b.name}}">{{b.name}}</option>
                </select>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

