<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <img src="../../../Images/housing.png" width="130" height="130" />
                Revature Housing
            </a>
        </div>
        <ul class="nav">
            <li >
                <a ui-sref="Dashboard">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li >
                <a ui-sref="Housing">
                    <i class="fa fa-bathtub"></i>
                    <p>Housing</p>
                </a>
            </li>
        </ul>
    </div>
</div>