<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">

                <img src="../../../Images/housing.png" width="130" height="130" />
                Revature Housing
            </a>
        </div>
        <ul class="nav">

            <li class="active">
                <a href="dashboard.html">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="ti-view-list-alt"></i>
                    <p>Room Maintenance</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ti-text"></i>
                    <p>Room Transfer</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bathtub"></i>
                    <p>Supplies Request</p>
                </a>
            </li>
        </ul>
    </div>
</div>