<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Housing Info</h4>
                </div>
                <div class="content">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">My Requests</h4>
                </div>
                <div class="content table-responsive table-full-width">


                </div>
            </div>
        </div>
    </div>
</div>

