<div class="card">
    <div class="header">
        <h4 class="title">Supplies Request</h4>
    </div>
    <div class="content" ng-init="getSupplies()">
        <div class="bs-component">
            <div class="col-md-12">
                <div class="funkyradio">
                    <div class="funkyradio-success" ng-repeat="s in supplies">

                        <input type="checkbox" name="checkbox" value={{s.supplyId}} id="{{s.supplyId}}" />
                        <label for="{{s.supplyId}}">{{s.supplyName}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button style="float:right; margin-right:30px;" class="btn btn-primary btn-fill"><span class="glyphicon glyphicon-check"></span> Submit</button>
            </div>
        </div>
    </div>
</div>

