<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Supplies</h4>
            </div>
            <div class="content" ng-init="getSupplies()">
          
                   <div class="bs-component">
                       <div class="row col-md-4"></div>
                       <div class="col-md-4 panel-primary"  >
                           <div ng-repeat="s in supplies" class="panel-body">
                               <div justify="Left">

                                   <div>
                                       <input type="checkbox" style="width: 30px; height: 20px;" value={{s.supplyId}} />{{s.supplyName}}</>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row col-md-4"></div>
                       <div class="row">
                       <div style="float:left; margin-left:810px;">
                           <button class="btn btn-success btn-fill btn-md">Add Request</button>
                       </div>
                        </div>
                   </div>
            </div>
        </div>
    </div>
</div>
