
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Room Maintenance</h4>
            </div>
            <div class="content">
                <textarea class="form-control" rows="7" placeholder="Please explain the reason of the request"></textarea>
                <br />
                <div class="row">
                    <div style="float:right; margin-right:20px;">
                        
                        <button class="btn btn-success btn-fill btn-xs ">Submit</button>
                    </div>
                   
               </div>
            </div>
        </div>
    </div>
</div>