<div class="card" ng-init="getContactbyoid()">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <center>
                        <h4 class="title">Housing Info</h4><br />
                    </center>
                </div>
                <div class="bs-component">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Tenant: {{tenant.contact.firstName}} {{tenant.contact.lastName}}</h6><br />
                            <h6>Batch: {{tenant.batch.name}}</h6><br />
                            <h6>Email: {{tenant.contact.email}}</h6><br />
                            <h6>Phone Number: {{tenant.contact.phoneNumber}}</h6><br />

                            <div ng-if="tenant.hasKey == true">
                                <h6>Has Housing Key: Yes</h6><br />
                            </div>
                            <div ng-if="tenant.hasKey == false">
                                <h6>Has Housing Key: No</h6><br />
                            </div>

                            <div ng-if="tenant.hasMoved == true">
                                <h6>Has Room Transfer: Yes</h6>
                            </div>
                            <div ng-if="tenant.hasMoved == false">
                                <h6>Has Room Transfer: No</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Address: {{tenant.housingUnit.address.name}}</h6><br />
                            <h6>
                                Bldg. {{tenant.housingUnit.address.buildingNumber}}
                                Apt. {{tenant.housingUnit.housingSignature}}
                            </h6><br />
                            <h6>{{tenant.housingUnit.address.streetName}}</h6><br />
                            <h6>{{tenant.housingUnit.address.city}}</h6>
                            <h6>{{tenant.housingUnit.address.state}}</h6>
                            <h6>{{tenant.housingUnit.address.country}}</h6>
                            <h6>{{tenant.housingUnit.address.zipcode}}</h6>
                        </div>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>

    <div class="card" ng-init="getContactbyoid()">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <center>
                            <h4 class="title">Maintenance Requests</h4>
                        </center>
                    </div>
                    <div class="bs-component">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th ng-click="sort('messageSent')">
                                        <center>
                                            Message
                                            <span class="fa fa-sort" ng-init="sortKey=='messageSent'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                                        </center>

                                    <th ng-click="sort('status')">
                                        <center>
                                            Active
                                            <span class="fa fa-sort" ng-init="sortKey=='status'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                                        </center>
                                    </th>

                                </tr>


                            </thead>
                            <tbody>
                                <tr dir-paginate="s in maintenance|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">

                                    <td><center>{{s.message}}</center></td>
                                    <td>
                                        <center>
                                            <div ng-if="s.active == true">
                                                <span class="label label-warning"> Pending</span>
                                            </div>
                                            <div ng-if="s.active == false">
                                                <span class="label label-danger"> Closed</span>
                                            </div>
                                        </center>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="15"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <center>
                    <h4 class="title">My Supplies Requests</h4>
                </center>
            </div>

            <div class="bs-component">
                <form class="form-inline">
                </form>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>

                            <th ng-click="sort('messageSent')">
                                <center>
                                    Supplies Requested
                                    <span class="fa fa-sort" ng-init="sortKey=='messageSent'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                                </center>

                            <th ng-click="sort('status')">
                                <center>
                                    Active
                                    <span class="fa fa-sort" ng-init="sortKey=='status'" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse}"></span>
                                </center>
                            </th>

                        </tr>


                    </thead>
                    <tbody>
                        <tr dir-paginate="t in supply|orderBy:sortKey:reverse|filter:search|itemsPerPage:15" ng-repeat="t in supply">

                            <td><div ng-repeat="m in t.requestSuppliesMaps">{{m.supply.supplyName}}</div></td>
                            <td><center>{{t.active}}</center></td>

                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="15"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>


        </div>
    </div>
</div>-->
