<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Supplies</h4>
            </div>
            <div class="content">
                <form>
                    <fieldset>
                        <h1>Supplie Request</h1>
                        Name: <input type="text"><br>
                        Email: <input type="text"><br>
                        Date of birth: <input type="text">
                    </fieldset>
                </form>



            </div>
        </div>
    </div>
</div>
