<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <img src="../../../assets/img/housing.png" width="130" height="130" />
                Revature Housing
            </a>
        </div>
        <ul class="nav">
            <li>
                <a>
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a>
                    <i class="ti-view-list-alt"></i>
                    <p>Room Maintenance</p>
                </a>
            </li>

            <li>
                <a>
                    <i class="fa fa-bathtub"></i>
                    <p>Supplies Request</p>
                </a>
            </li>
        </ul>
    </div>
</div>