<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>

            <img src="assets/img/RevatureLogo.png" />
        </div>
    </div>
</nav>

<div class="content" ng-init="reroute()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <!-- Icon -->
                            <div class="fadeIn first">
                                <img src="assets/img/housing.png" width="190" height="190" style="margin-top:50px;" />
                                <h5>Revature Housing</h5>
                            </div>
                            <button class="btn btn-primary" ng-click="adallogin()">Log In </button>
                            <br /><br />
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Revature Housing
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by 1709 .Net Batch
        </div>
    </div>
</footer>