<div class="container-fluid"  ng-show="panel.isSelected(1)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Housing Info</h4>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(2)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Maintenance</h4>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(3)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Transfer</h4>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(4)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Supplies</h4>
                </div>


            </div>
        </div>
    </div>
</div>