<div class="container-fluid"  ng-show="panel.isSelected(1)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Housing Info</h4>
                </div>


            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">My Requests</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table id="example" class="table table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>Position</b></th>
                                <th><b>Office</b></th>
                                <th><b>Age</b></th>
                                <th><b>Start date</b></th>
                                <th><b>Salary</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(2)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Maintenance</h4>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(3)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Transfer</h4>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="panel.isSelected(4)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Supplies</h4>
                </div>


            </div>
        </div>
    </div>
</div>