 <div class="wrapper">
        <provider-sidebar></provider-sidebar>

        <div class="main-panel">
            <provider-navbar></provider-navbar>

            <div class="content">
                <div ui-view autoscroll="false"></div>
            </div>
           
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Revature Housing
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        2017. All rights reserved.
                    </div>
                </div>
            </footer>
        </div>
    </div>
